:root {
    --bg-primary: #f4f5fb;
    --bg-secondary: #ffffff;

    --color-brand: #ca3884;
    --color-brand-hover: #a52c6b;
    --color-danger: #c93847;

    --content-primary: #080b12;
    --content-secondary: #374151;
    --content-tertiary: #9ca3af;

    --border-primary: #d1d5db;
    --border-hover: #b9c2d0;

    --ff: "Inter", sans-serif;
    --title: 700 1.5rem/2rem var(--ff);
    --label: 600 1rem/1.25rem var(--ff);
    --text: 500 1rem/1.25rem var(--ff);
    --link: 500 .875rem/1rem var(--ff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff);
}

body {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 24.4rem;
    background-color: var(--bg-primary)
}

input, button{
    outline: none;
}

a {
    text-decoration: none;
}

main {
    padding-top: 5rem;
}

.back {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.back span {
    font: var(--link);
    color: var(--color-brand)
}

h1 {
    font: var(--title);
    margin-top: 1rem;
    margin-bottom: 2.75rem;
    color: var(--content-primary);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input {
    padding: .7rem 1rem;
    border-radius: .75rem;
    border: 2px solid var(--border-primary);
}

form input::placeholder {
    color: var(--content-tertiary);
    font-size: 1rem;
}

form input:focus {
    border: 2px solid var(--color-brand);
}

form button {
    padding: .7rem;
    border-radius: .75rem;
    border: none;
    background-color: var(--color-brand);
    color: #fff;
    font: var(--label);
    cursor: pointer;
    transition: all .3s;
}

form button:hover {
    background-color: var(--color-brand-hover);
}
