* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10rem;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
}

h1 {
  font-size: 28px;
}

form {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

input {
  padding: 12px;
  background-color: rgb(24, 23, 23);
  border: none;
  border-radius: 4px;
  width: 100%;
  color: white;
}

.input-error,
.input-error:focus {
  border: 2px solid #a21e23;
}

button {
  padding: 12px;
  border: none;
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  border-radius: 4px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  overflow-y: scroll;
  height: 300px;
}

.guest {
  background-color: rgb(24, 23, 23);
  width: 100%;
  padding: 16px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}